body{
    border: 0;
    margin: 0;
}


.Contactos{
    justify-content: center;
    border: solid 1px gray;
    width: 340px;
    min-height: 100vh;
 
}
.boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
   

}


#Profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ChatNew{
    height: 50px;
    justify-content: center;
}

.BotonNuevoChat{
    background-color: #a491d2;
    border: 0;
    width: 200px;
}

.Message_Menu{
    display: flex;
    justify-content: start;
}
.box{
    display: flex;
    padding: 20px;
    border: solid 1px gray;
    width: 300px;
}

.box p{
    padding-left: 15px;
}

.Text_box{
    display: flex;
    flex-direction: column;
    
}

.box img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.fullpage{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
   

    
}

.contenido_central{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;


}